<?xml version="1.0" encoding="UTF-8"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>LeavePLannerProject</display-name>
  
  <filter> 
      <filter-name>struts2</filter-name>
       <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
 

 </filter>

 <filter-mapping>
      <filter-name>struts2</filter-name>
      <url-pattern>/*</url-pattern>
 </filter-mapping>
    <welcome-file-list> 
         <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
    
     <servlet>
     <servlet-name>ActionServlet</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>

        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>1</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
        <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    
    
    <servlet>
    	<description>
    	</description>
    	<display-name>DbConnection</display-name>
    	<servlet-name>DbConnection</servlet-name>
    	<servlet-class>com.wipro.ajax.DbConnection</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>BackupService</display-name>
        <servlet-name>BackupService</servlet-name>
        <servlet-class>com.wipro.sevices.BackupService</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LeaveExcel</display-name>
    	<servlet-name>LeaveExcel</servlet-name>
    	<servlet-class>com.wipro.sevices.LeaveExcel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DbConnection</servlet-name>
        <url-pattern>/conn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DbConnection</servlet-name>
    	<url-pattern>
    	/DbConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackupService</servlet-name>
        <url-pattern>/BackupService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LeaveExcel</servlet-name>
    	<url-pattern>
    	/LeaveExcel</url-pattern>
    </servlet-mapping>
    
    
</web-app>
